
.error{
    animation: shake 0.1s linear 10;
}
@keyframes shake {
    0%{
        transform: translateX(0);
        background-color: red;
        border-radius: 5px;
    }
    25%{
        transform: translateX(-2px);
        background-color: rgb(173, 67, 67);
        border-radius: 5px;
    }
    50%{
        transform: translateX(0);
        background-color: red;
        border-radius: 5px;
    }
    75%{
        transform: translateX(2px);
        background-color: red;
        border-radius: 5px;
    }
    100%{
        transform: translateX(0);
        background-color: rgb(173, 67, 67);
        border-radius: 5px;
    }
}


/* 

 $$$$$$$\  $$$$$$$\  $$$$$$$\ 
$$  _____|$$  _____|$$  _____|
$$ /      \$$$$$$\  \$$$$$$\  
$$ |       \____$$\  \____$$\ 
\$$$$$$$\ $$$$$$$  |$$$$$$$  |
 \_______|\_______/ \_______/ 


 ________  __                            __                  
/        |/  |                          /  |                 
$$$$$$$$/ $$ |____    ______   _______  $$ |   __   _______  
   $$ |   $$      \  /      \ /       \ $$ |  /  | /       | 
   $$ |   $$$$$$$  | $$$$$$  |$$$$$$$  |$$ |_/$$/ /$$$$$$$/  
   $$ |   $$ |  $$ | /    $$ |$$ |  $$ |$$   $$<  $$      \  
   $$ |   $$ |  $$ |/$$$$$$$ |$$ |  $$ |$$$$$$  \  $$$$$$  | 
   $$ |   $$ |  $$ |$$    $$ |$$ |  $$ |$$ | $$  |/     $$/  
   $$/    $$/   $$/  $$$$$$$/ $$/   $$/ $$/   $$/ $$$$$$$/   
                                                             
  _______                         __                 __                                  
 /       \                       /  |               /  |                                 
 $$$$$$$  |  ______    ______   _$$ |_    _______  _$$ |_     ______   ______    ______  
 $$ |__$$ | /      \  /      \ / $$   |  /       |/ $$   |   /      \ /      \  /      \ 
 $$    $$< /$$$$$$  |/$$$$$$  |$$$$$$/  /$$$$$$$/ $$$$$$/   /$$$$$$  |$$$$$$  |/$$$$$$  |
 $$$$$$$  |$$ |  $$ |$$ |  $$ |  $$ | __$$      \   $$ | __ $$ |  $$/ /    $$ |$$ |  $$ |
 $$ |__$$ |$$ \__$$ |$$ \__$$ |  $$ |/  |$$$$$$  |  $$ |/  |$$ |     /$$$$$$$ |$$ |__$$ |
 $$    $$/ $$    $$/ $$    $$/   $$  $$//     $$/   $$  $$/ $$ |     $$    $$ |$$    $$/ 
 $$$$$$$/   $$$$$$/   $$$$$$/     $$$$/ $$$$$$$/     $$$$/  $$/       $$$$$$$/ $$$$$$$/  
                                                                                                                                                               
       
*/

